### Import Libraries

In [1]:
import numpy as np
import pandas as pd

### Quest: 1

* Version of Numpy'

In [2]:
np.__version__

'1.21.2'

### Quest: 1

* Version of Pandas

In [5]:
pd.__version__

'1.3.2'

### Get the dataset

In [6]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2021-09-13 08:33:14--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1,4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1,41M  6,24MB/s    in 0,2s

2021-09-13 08:33:15 (6,24 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [2]:
df=pd.read_csv('./data/data.csv')

In [8]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [9]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [10]:
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [14]:
df['MSRP'].mean()

40594.737032063116

### Question 3: 

* The average price of BMW

In [16]:
temp=df[df["Make"] == 'BMW']
temp['MSRP'].mean()

61546.76347305389

### Question 4: 

* Number of missing values in "Engine HP" after 2015 (including 2015) The average price of BMW

In [19]:
temp2=df[df['Year']>=2015]
temp2.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        0
Engine HP              51
Engine Cylinders        8
Transmission Type       0
Driven_Wheels           0
Number of Doors         5
Market Category      1324
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

### Question 5: 

* Does the mean change after filling missing values?

In [22]:
round(df['Engine HP'].mean())

249

In [33]:
df_fillna=df['Engine HP'].fillna(249).to_frame()

In [35]:
round(df_fillna['Engine HP'].mean())

249

### Question 6

* Sum of elements of the inverse matrix *

In [41]:
new_df=df[df['Make']=='Rolls-Royce']
new_df = new_df[['Engine HP', 'Engine Cylinders','highway MPG']]
new_df=new_df.drop_duplicates()
x=new_df.to_numpy()

In [58]:
x.shape

(7, 3)

In [71]:
xTx = np.matmul(x.T,x)

In [73]:
np.sum(xTx)

1970887.0

### Questions 7: 
    
* Normal equation

In [74]:
y=[1000, 1100, 900, 1200, 1000, 850, 1300]

In [75]:
inv_xTx = np.linalg.inv(xTx)

In [76]:
np.matmul(np.matmul(inv_xTx, x.T),y)

array([ 0.19989598, 31.02612262, 31.65378877])